.content{
	background-color: #15151A;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.content h1{
	font-size: 60px;
	text-align: center;
}

.content h2{
	font-size: 40px;
	text-align: center;
}

.content p{
	font-size: 20px;
	text-align: center;
}

.mail-img{
  text-align: center;
}
.mail-img img:hover{
	scale: 1.1;
	opacity: 0.95;
} 
.iframe{
	align-content: center;
}
.content p{
	text-align: center;
	font-size: 25px;
	width: 80%;
    max-width: 900px;
    min-width: 200px;
}